.footer {
  background-color: #2C2B2B;
  color: #1CDD87;
  text-align: center;
  padding: 50px 0;
}

.footer p {
  color: #6B6C6C;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  margin: 0 10px;
}

li a {
  font-size: 34px;
  color: #1CDD87;
}
